################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/bin
**/obj
Experiments
tools
*.user
artifacts
/PrivateNotes.md
