################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/bin
**/obj
Experiments
tools
*.user
artifacts
/PrivateNotes.md
/.ionide
.idea


#Ignore vscode AI rules
.github\copilot-instructions.md
